
{% extends "AppCoder/padre.html" %}

{% load static %}

{% block dinamico %}

	<div class="row">
		<div class="social-link">
			<p>Follow us: </p>
			<a href="#"><i class="ion-social-facebook"></i></a>
			<a href="#"><i class="ion-social-twitter"></i></a>
			<a href="#"><i class="ion-social-googleplus"></i></a>
			<a href="#"><i class="ion-social-youtube"></i></a>
		</div>

		<div  class="slick-multiItemSlider">
			<div class="movie-item">
				<div class="mv-img">
					<a href="#"><img src="{% static 'AppCoder/images/uploads/slider1.jpg'%}" alt="" width="285" height="437"></a>
				</div>
				<div class="title-in">
					<div class="cate">
						<span class="blue"><a href="{% url 'Scifi' %}">suspenso</a></span>
					</div>
					<h6><a href="{% url 'Oblivion' %}">Oblivion</a></h6>
					<p><i class="ion-android-star"></i><span>7.4</span> /10</p>
				</div>
			</div>

			<div class="movie-item">
				<div class="mv-img">
					<a href="#"><img src="{% static 'AppCoder/images/uploads/slider2.jpg'%}" alt="" width="285" height="437"></a>
				</div>
				<div class="title-in">
					<div class="cate">
						<span class="yell"><a href="{% url 'Accion' %}">acción</a></span>
					</div>
					<h6><a href="{% url 'Revenant' %}">The revenant</a></h6>
					<p><i class="ion-android-star"></i><span>7.4</span> /10</p>
				</div>
			</div>

			<div class="movie-item">
				<div class="mv-img">
					<a href="#"><img src="{% static 'AppCoder/images/uploads/slider3.jpg'%}" alt="" width="285" height="437"></a>
				</div>
				<div class="title-in">
					<div class="cate">
						<span class="yell"><a href="{% url 'Accion' %}">Accion</a></span>
					</div>
					<h6><a href="{% url 'DieHard' %}">Die hard</a></h6>
					<p><i class="ion-android-star"></i><span>7.4</span> /10</p>
				</div>
			</div>
			
			<div class="movie-item">
				<div class="mv-img">
					<a href="#"><img src="{% static 'AppCoder/images/uploads/slider4.jpg'%}" alt="" width="285" height="437"></a>
				</div>
				<div class="title-in">
					<div class="cate">
						<span class="blue"><a href="{% url 'Scifi' %}">Sci-fi</a></span> <span class="orange"><a href="#">romance</a></span>
					</div>
					<h6><a href="{% url 'TheWalk' %}">The walk</a></h6>
					<p><i class="ion-android-star"></i><span>7.4</span> /10</p>
				</div>
			</div>
			
			<div class="movie-item">
				<div class="mv-img">
					<a href="#"><img src="{% static 'AppCoder/images/uploads/slider1.jpg'%}" alt="" width="285" height="437"></a>
				</div>
				<div class="title-in">
					<div class="cate">
						<span class="blue"><a href="#">suspenso</a></span>
					</div>
					<h6><a href="#">Oblivion</a></h6>
					<p><i class="ion-android-star"></i><span>7.4</span> /10</p>
				</div>
			</div>
			<div class="movie-item">
				<div class="mv-img">
					<a href="#"><img src="{% static 'AppCoder/images/uploads/slider2.jpg'%}" alt="" width="285" height="437"></a>
				</div>
				<div class="title-in">
					<div class="cate">
						<span class="yell"><a href="#">acción</a></span>
					</div>
					<h6><a href="#">The revenant</a></h6>
					<p><i class="ion-android-star"></i><span>7.4</span> /10</p>
				</div>
			</div>
			<div class="movie-item">
				<div class="mv-img">
					<img src="{% static 'AppCoder/images/uploads/slider3.jpg'%}" alt="" width="285" height="437">
				</div>
				<div class="title-in">
					<div class="cate">
						<span class="green"><a href="#">acción</a></span>
					</div>
					<h6><a href="#">Die hard</a></h6>
					<p><i class="ion-android-star"></i><span>7.4</span> /10</p>
				</div>
			</div>
			<div class="movie-item">
				<div class="mv-img">
					<img src="{% static 'AppCoder/images/uploads/slider4.jpg'%}" alt="" width="285" height="437">
				</div>
				<div class="title-in">
					<div class="cate">
						<span class="blue"><a href="#">sci-fi</a></span> <span class="orange"><a href="#">romance</a></span>
					</div>
					<h6><a href="#">The walk</a></h6>
					<p><i class="ion-android-star"></i><span>7.4</span> /10</p>
				</div>
			</div>
			<div class="movie-item">
				<div class="mv-img">
					<img src="{% static 'AppCoder/images/uploads/slider3.jpg'%}" alt="" width="285" height="437">
				</div>
				<div class="title-in">
					<div class="cate">
						<span class="green"><a href="#">acción</a></span>
					</div>
					<h6><a href="#">Die hard</a></h6>
					<p><i class="ion-android-star"></i><span>7.4</span> /10</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}