
{% extends "AppCoder/padre.html" %}

{% load static %}

{% block dinamico %}
	{% if movies %}

		<ul style="color: silver;">
			
			{% for titulo in movies %}
				<li>{{	titulo.titulo }}</li>
				<li>{{	titulo.descripcion }}</li>
				<li>{{	titulo.categoria }}</li>
				<li>{{	titulo.idioma }}</li>
				<li>{{	titulo.estado }}</li>
				<li>{{	titulo.cast }}</li>
				<li>{{	titulo.prodYear }}</li>
			{% endfor %}

		</ul>
	{% else %}
		<h1 style="color: red;">{{	respuesta }}</h1>
	{% endif %}
	

{% endblock %}